<h1>Welcome to Chat app</h1>
<hr>
<h2>Type your name</h2>

<div class="input-group">
  <span class="input-group-addon"></span>
  <input id="nameText" type="text" class="form-control" placeholder="Name" name='name'>
</div>

<h2>Type a message</h2>

<div class="input-group">
  <span class="input-group-addon"></span>
  <input id='messageText' type="text" class="form-control" placeholder="Message" name='message'>
</div>

<input type="submit" name="submit" value="Send Chat" class="submit-button">
